
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body,
html {
    min-height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1.4fr 5fr;
    grid-template-rows: 160px 2fr 2fr;
    overflow: auto;
}

.sidebar {
    /* display: grid; */
    grid-area: 1 / 1 / 4 / 2;
    background-color: #0284c7;
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.3); 
    z-index: 1;
    grid-auto-flow: row;
    gap: 45px;
    padding: 2px 30px;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.body {
    grid-area: 2 / 2 / 4 / 3;
    background-color: rgb(243, 239, 239);
}

.logo {
    display: flex;
    height: 70px;
    align-items: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 40px;
}

.text {
    font-size: 30px;
    font-weight: 600;
    margin: 0px 9px;
}

.user-tabs {
    display: grid;
    height: 290px;
    grid-auto-flow: row;
    padding: 0px 6px;
    margin-bottom: 40px;
}

.settings-tab {
    display: grid;
    height: 150px;
    padding: 0px 6px;
}

.space {
    min-height: 200px;
    background-color: #0284c7;
}

.icon {
    width: 50px;
    height: 50px;
    fill: white;
}

.sidebar-icon {
    width: 22px;
    height: 22px;
    fill: white;
}

.icon-tag {
    display: flex;
    align-items: center;
    margin-top:-20px;
    color: white;
    padding: 0px 4px;
    height: 43px;
}

.icon-tag:hover {
    /* height: 46px; not needed. Thjustify-content: space-around;e height defined for the icon-tag will remain for the hover effect.*/
    width: 90%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.4s ease;
}

.sidebar-text {
    font-size: 21px;
    margin-left: 27px;
    font-weight: bold;
}

.header {
    /* display: flex; */
    padding: 5px 40px;
    flex-direction: column;
}

.head-icon {
    width: 20px;
    height: 20px;
}

.top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin-bottom: 20px;
}

.top1 {
    display: flex;
}

.top2 {
    display: flex;
    /* grid-auto-flow: column; */
    align-items: center;
    justify-content: space-evenly;
}

.search-bar {
    height: 24px;
    width: 550px;
    border-radius: 12px;
    background-color: rgb(235, 231, 231);
    margin-left: 20px;
}

.search-icon {
    margin-top: 5px;
}

.image {
    width: 40px;
    height: 40px;
    /* border: 1px solid black; */
    border-radius: 20px;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/29a2eeeb-90f8-4990-b4b1-5e0d6f0db916/dgkhrmz-0b5a672d-7e8c-4dea-84b1-8f9fc76bf5cb.jpg/v1/fill/w_1280,h_1280,q_75,strp/pikachu_wallpaper_pokemon_by_anidrawnet_dgkhrmz-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzI5YTJlZWViLTkwZjgtNDk5MC1iNGIxLTVlMGQ2ZjBkYjkxNlwvZGdraHJtei0wYjVhNjcyZC03ZThjLTRkZWEtODRiMS04ZjlmYzc2YmY1Y2IuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.iu3jihEH1cP5OtpYhGg1pz1VzOHrAZmaMOOrQmK8-aQ');
    background-size: cover;
}

.name {
    font-size: 17px;
    font-weight: 500;
}

.bottom {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -8px;
}

.bottom1 {
    display: flex;
    align-items: center;
    margin-top: -2px;
}

.bigger-image {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-right: 15px;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/29a2eeeb-90f8-4990-b4b1-5e0d6f0db916/dgkhrmz-0b5a672d-7e8c-4dea-84b1-8f9fc76bf5cb.jpg/v1/fill/w_1280,h_1280,q_75,strp/pikachu_wallpaper_pokemon_by_anidrawnet_dgkhrmz-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzI5YTJlZWViLTkwZjgtNDk5MC1iNGIxLTVlMGQ2ZjBkYjkxNlwvZGdraHJtei0wYjVhNjcyZC03ZThjLTRkZWEtODRiMS04ZjlmYzc2YmY1Y2IuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.iu3jihEH1cP5OtpYhGg1pz1VzOHrAZmaMOOrQmK8-aQ');
    background-size: cover;
}

.small-text {
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0px;
}

.big-text {
    font-size: 23px;
    font-weight: 600;
}

.btn {
    /* padding: 8px 25px; */
    width: 80px;
    height: 34px;
    font-size: 15px;
    margin: 0px 15px;
    border-radius: 20px;
    text-align: center;
    border: none;
    color: white;
    background-color: #0284c7;
    font-weight: 600;
}

.body {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    height: 100%;
}

.content-tile {
    display: grid;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 17px;
}

.text {
    font-size: 20px;
    margin-left: 0px;
    font-weight: 500;
}

.slabs {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.tile {
    width: 315px;
    height: 216px;
    background-color: white;
    border-left: 8px solid rgb(245, 166, 19);
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
}

.longer-tile {
    display: grid;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    gap: 20px;
}

.portal {
    width: 100%;
    height: 308px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 7px 0px;
}

.first > p,
.second > p {
    font-size: 20px;
    font-weight: 500;
    line-height: 3px;
}

.tiny-icon {
    height: 20px;
    margin: 0px 10px;
    margin-top: 20px;
}

.top-text {
    padding-top: 12px;
    font-size: 20px;
    font-weight: 500;
}

.body-text {
    margin-top: -18px;
    font-size: 16px;
    color: rgb(133, 126, 126);
}

.logos {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: end;
}